<!--
    background image source: https://2020presidentsreport.arcadia.edu/hd-pattern-png-transparent-triangle-transparent-png-image-pattern-transparent-2048_1024/
-->
{% extends 'core/base.html' %}

{% load static %}

{% load bootstrap5 %}



{% block title %}
StudyDo - Home
{% endblock %}



{% block content %}
<h1 style="font-family:'Brush Script MT', cursive; font-size:60px;"> Welcome to StudyDo! </h1>
<body background="src=../../static/pattern.png" alt="StudyDo icon" width="380rem" height="400px">
<p>
    Encouraging collaborative studying.
</p>

<h3 style="float: left;">Getting Started</h4>
<br></br>
<p style="float: left; text-align: left;">
    Click the Login button at the top to login in with your Google account.
</p>
<br></br>
<br></br>

<h3 style="float: left;">Calendar</h4>
<br></br>
<p style="float: left; text-align: left;">
    Add assignments due dates, exams, or other important events to your StudyDo calendar which is linked with your Google Calendar.
</p>
<br></br>
<br></br>

<h3 style="float: left;">Courses</h4>
<br></br>
<p style="float: left; text-align: left;">
    Join a course to view notes that your classmates uploaded and to upload your own notes. Don't see your class? Add it!
</p>
<br></br>

</body>
{% endblock %}
